@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.horizontal-list{
    font-size: 20px;
}

header{
    background-color: #FDFF85;
    text-align: left;
    padding: 200px;
}

.pages{
    background-color: #FDFF85;
    text-align: left;
    padding: 100px;
}

/* how to put image on right*/
header img{
    display: flex;
    align-items:flex-end;
}

.welcome{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.welcome img{
    width:100%;
}

ul.horizontal-list li{
    display: flex;
    list-style:none;
    display: inline-block;
    padding:6px;
    text-align: right;
}

h1{
    text-align: center;
    font-size: 50px;
}

h2{
    font-size: 35px;
}

h1,h2,h3, ul, p {
    font-family: 'Playfair Display', serif;
}

nav{
    display:flex;
    justify-content:flex-start;
}

ul a{
    color: #011936;
    text-decoration: none;
 }

 #about{
    display:grid;
    grid-template-columns: 1fr;
    padding: 145px;
    text-align: center;
    font-size: 20px;
 }

 #contact{
    padding-left: 400px;
    padding-right: 400px;
    text-align: center;
}

.contact-details{
    display: grid;
    grid-template-columns: 1fr;
    border: 4px solid #FDFF85;
    padding: 30px;
    height: 50vh;
}

footer{
    background-color: #FDFF85;
    padding: 30px;
    margin-top: 30px;
    text-align: center;
}

main{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 10px;
}

.card1, .card2, .card3{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 45px;
    row-gap: 10px;
    border: 4px solid #FDFF85;
    border-radius: 6px;
    padding: 30px;
    margin: 5%;
    text-align: center;
    font-size: 20px;
}
.card4, .card5, .card6{
    border:4px solid #FDFF85;
    text-align: center;
    padding: 30px;
    margin: 5%;
}

.card1 img{
    width:100%;
}

.card2 img{
    width:100%; 
}

.card4, .card5, .card6, .card7{
    border:4px solid #FDFF85;
    text-align: center;
    padding: 30px;
    margin: 5%;
}

.card6 img{
    width:100%;
}

.card5 img{
    border: 2px solid black;
}

.card7 img{
    border: 2px solid black;
}

/*carousel*/

.carousel {
    display: flex;
    width: 55vw;  
    margin: 0 auto;
    overflow: hidden; 
    border: solid 1px #CCC;
    flex-direction: column;
}

.current-photo img {
    width: 100%;
    animation: fadein 1s;
}

button img {
    width: 100%;
}

.caption {
    margin: 0 0 30px 0;
}

/* button formatting */

.card3 > * {
    box-sizing: border-box;
}

.card3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    display: flex;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    justify-content: center;
    align-items: center;
    position: relative;
    top: -40vw;
    width: 40px;
    height: 40px;
    margin-bottom: -20px;
}

.fa-solid{
    font-size:30px;
}

.back {
    align-self: start;
}

.forward {
    align-self: end;
    margin-top: -20px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/*.projectdescription{
    text-align: center;
    font-size: 20px;
}
